
**/assets/videos_and_intrinsics/*
**/archives
**/.venv**
**results/**
**/tau.bib
**/main.synctex.gz
**/main.run.xml
**/main.pdf
**/main.log
**/main.fls
**/main.fdb_latexmk
**/main.aux
**/main.bbl
**/main.bcf
**/main.blg
**/**.blg
**/**.aux
**/**.log
**/**.fdb_latexmk
**/**.fls
**/**.synctex.gz
**/**.run.xml
**/**.pdf
**/**.bbl**
**/**.bcf**
**/results/**